.info {
  width: 25px;
  color: rgb(255, 255, 255);
  background-color: var(--p-540);
  z-index: 1000;
  font-size: 3.5px;
  padding: 2px;
  position: absolute;
  border-radius: 2px;
  height: auto;
}

.container {
  position: absolute;
  z-index: 999;
  inset: 0;
}

.infoToggle {
  background-color: rgb(3, 163, 94);
  width: 12px;
  height: 12px;
  font-size: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0 0 auto;
  border-radius: 100vh;
  position: absolute;
  z-index: 1000;
}

/* toggle */




.infoToggle {
  background-color: var(--p-540);
  width: 6px;
  height: 6px;
  font-size: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0 0 auto;
  border-radius: 100vh;
  position: absolute;
  z-index: 1000;
}

.skillInfoToggle {
  background-color: var(--p-540);
  width: 6px;
  height: 6px;
  font-size: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px 0 auto;
  border-radius: 100vh;
  position: absolute;
  z-index: 1000;
}

.icon {
  position: absolute;
  z-index: 999;
  top: 50%;
  transform: translate(50%, -50%);
  right: 50%;
  color: var(--d-500);
  font-size: 1rem;
}


.infoToggle svg {
  color: rgb(21, 255, 0);
  display: block;
  margin: auto
}

.infoTab {
  width: 1rem;
  height: 1rem;
  position: absolute;

}

.defaultTogglePosition {
  right: .5rem;
  top: .5rem
}

.defaultInfoPosition {
  bottom: 95%;
  right: 0;
}




.selectiveInfoPosition {
  bottom: 98%;
  right: 0;
}
