.infoToggle {
  position: absolute;
  background-color: var(--p-500);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  z-index: 1111;
  border: 1px solid var(--d-500);
}

.hovered {
  background-color: var(--p-500);
}

.hovered svg {
  color: var(--d-500)
}

.notHovered {
  background-color: var(--p-500);
}

.notHovered svg {
  color: var(--d-500)
}


.defaultTogglePosition {
  top: .5rem;
  right: .5rem
}


.info {
  position: absolute;
  background-color: var(--p-500);
  border: 1px solid black;
  color: white;
  border-radius: .8rem;
  z-index: 1100;
  overflow: hidden;
}

.info p {
  padding:.5rem;
  padding-right: 1.5rem;
  width: 15rem;
  text-align: left;
}

.defaultInfoPosition {
  top: .3rem;
  right: .3rem
}

.container {
 
}